name: Run Sales App

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build project
        run: mvn -f "CrudApplication/pom.xml" clean install

      - name: Run app
        run: mvn -f "CrudApplication/pom.xml" spring-boot:run

